/* common/var.scss */

$--color-primary: #409eff !default;
$--color-white: #FFFFFF !default;
$--color-info: #909399 !default;
$--color-success: #67C23A !default;
$--color-warning: #e6a23c !default;
$--color-danger: #f56c6c !default;

$--color-plain-border-primary: #b3d8ff !default; 
$--color-plain-border-success: #c2e7b0 !default; 
$--color-plain-border-info: #d3d4d6 !default; 
$--color-plain-border-warning: #f5dab1 !default; 
$--color-plain-border-danger: #fbc4c4 !default;

$--color-plain-bg-primary: #ecf5ff !default;
$--color-plain-bg-success: #f0f9eb !default;
$--color-plain-bg-info: #f4f4f5 !default;
$--color-plain-bg-warning: #fdf6ec !default;
$--color-plain-bg-danger: #fef0f0 !default;

$--color-plain-text-primary: #409eff !default;
$--color-plain-text-success: #67c23a !default;
$--color-plain-text-info: #909399 !default;
$--color-plain-text-warning: #e6a23c !default;
$--color-plain-text-danger: #f56c6c !default;

$--color-disable-primary: #a0cfff !default;
$--color-disable-success: #b3e19d !default;
$--color-disable-info: #c8c9cc !default;
$--color-disable-warning: #f3d19e !default;
$--color-disable-danger: #fab6b6 !default;

$--color-disable-plain-primary: #ecf5ff !default;